<a href="https://colab.research.google.com/github/Aniruth025/newrep2/blob/main/Statistical_Data_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
NAME_KEY = "NAME"
CITY_KEY = "CITY"
GENDER_KEY = "GENDER"
MALE_KEY = "MALE"
FEMALE_KEY = "FEMALE"
HEIGHT_KEY = "HEIGHT"
WEIGHT_KEY = "WEIGHT"
data = [['USER 01', 'Chennai', FEMALE_KEY, 5.8, 50],
        ['USER 02', 'Chennai', MALE_KEY, 6.0, 49],
        ['USER 03', 'Mumbai', FEMALE_KEY, 5.6, 60],
        ['USER 04', 'Chennai', MALE_KEY, 5.0, 54],
        ['USER 05', 'Chennai', MALE_KEY, 5.8, 59],
        ['USER 06', 'Madurai', FEMALE_KEY, 6.2, 68],
        ['USER 07', 'Kanyakumari', FEMALE_KEY, 6.3, 70],
        ['USER 08', 'Trichi', FEMALE_KEY, 5.5, 64],
        ['USER 09', 'Chennai', MALE_KEY, 6.1, 51],
        ['USER 10', 'Madurai', FEMALE_KEY, 5.3, 67]]
df = pd.DataFrame(data, columns=[NAME_KEY, CITY_KEY, GENDER_KEY, HEIGHT_KEY, WEIGHT_KEY])

In [ ]:
df.groupby(CITY_KEY)[GENDER_KEY].count()

CITY
Chennai        5
Kanyakumari    1
Madurai        2
Mumbai         1
Trichi         1
Name: GENDER, dtype: int64

In [ ]:
df.groupby(CITY_KEY).groups

{'Chennai': [0, 1, 3, 4, 8], 'Kanyakumari': [6], 'Madurai': [5, 9], 'Mumbai': [2], 'Trichi': [7]}

In [ ]:
df.groupby([CITY_KEY, GENDER_KEY]).groups

{('Chennai', 'FEMALE'): [0], ('Chennai', 'MALE'): [1, 3, 4, 8], ('Kanyakumari', 'FEMALE'): [6], ('Madurai', 'FEMALE'): [5, 9], ('Mumbai', 'FEMALE'): [2], ('Trichi', 'FEMALE'): [7]}

In [ ]:
grouped_by_gender = df.groupby(GENDER_KEY)
for gender, group in grouped_by_gender:
  print(f"Gender: {gender}.")
  print("Group: \n", group)
  print()

Gender: FEMALE.
Group:
       NAME         CITY  GENDER  HEIGHT  WEIGHT
0  USER 01      Chennai  FEMALE     5.8      50
2  USER 03       Mumbai  FEMALE     5.6      60
5  USER 06      Madurai  FEMALE     6.2      68
6  USER 07  Kanyakumari  FEMALE     6.3      70
7  USER 08       Trichi  FEMALE     5.5      64
9  USER 10      Madurai  FEMALE     5.3      67

Gender: MALE.
Group:
       NAME     CITY GENDER  HEIGHT  WEIGHT
1  USER 02  Chennai   MALE     6.0      49
3  USER 04  Chennai   MALE     5.0      54
4  USER 05  Chennai   MALE     5.8      59
8  USER 09  Chennai   MALE     6.1      51

In [ ]:
grouped_by_gender = df.groupby(GENDER_KEY)
print(grouped_by_gender.get_group(FEMALE_KEY))

      NAME         CITY  GENDER  HEIGHT  WEIGHT
0  USER 01      Chennai  FEMALE     5.8      50
2  USER 03       Mumbai  FEMALE     5.6      60
5  USER 06      Madurai  FEMALE     6.2      68
6  USER 07  Kanyakumari  FEMALE     6.3      70
7  USER 08       Trichi  FEMALE     5.5      64
9  USER 10      Madurai  FEMALE     5.3      67

In [ ]:
import numpy as np

In [ ]:
grouped_by_gender = df.groupby(GENDER_KEY)
print(grouped_by_gender[HEIGHT_KEY].agg(np.mean))
print()
print(grouped_by_gender[WEIGHT_KEY].agg(np.mean))
print()
print(grouped_by_gender.agg(np.size))
print()
print(grouped_by_gender[HEIGHT_KEY].agg((np.sum, np.mean, np.std)))
print()

GENDER
FEMALE    5.783333
MALE      5.725000
Name: HEIGHT, dtype: float64

GENDER
FEMALE    63.166667
MALE      53.250000
Name: WEIGHT, dtype: float64

        NAME  CITY  HEIGHT  WEIGHT
GENDER
FEMALE     6     6       6       6
MALE       4     4       4       4

         sum      mean       std
GENDER
FEMALE  34.7  5.783333  0.397073
MALE    22.9  5.725000  0.499166

In [ ]:
s = df.set_index([NAME_KEY])
print(s)
print()
grouped_by_gender = s.groupby(GENDER_KEY)
score = lambda x : ((x - x.mean()) / x.std() * 10)
print(grouped_by_gender.transform(score))
print()

                CITY  GENDER  HEIGHT  WEIGHT
NAME
USER 01      Chennai  FEMALE     5.8      50
USER 02      Chennai    MALE     6.0      49
USER 03       Mumbai  FEMALE     5.6      60
USER 04      Chennai    MALE     5.0      54
USER 05      Chennai    MALE     5.8      59
USER 06      Madurai  FEMALE     6.2      68
USER 07  Kanyakumari  FEMALE     6.3      70
USER 08       Trichi  FEMALE     5.5      64
USER 09      Chennai    MALE     6.1      51
USER 10      Madurai  FEMALE     5.3      67

            HEIGHT     WEIGHT
NAME
USER 01   0.419739 -17.956401
USER 02   5.509190  -9.771621
USER 03  -4.617124  -4.318628
USER 04 -14.524227   1.724404
USER 05   1.502506  13.220429
USER 06  10.493463   6.591590
USER 07  13.011894   9.319145
USER 08  -7.135555   1.136481
USER 09   7.512531  -5.173211
USER 10 -12.172417   5.227813

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the transforming function.

In [ ]:
grouped_by_city = df.groupby(GENDER_KEY)
d = grouped_by_city.filter(lambda x : len(x) > 4)
print(d)

      NAME         CITY  GENDER  HEIGHT  WEIGHT
0  USER 01      Chennai  FEMALE     5.8      50
2  USER 03       Mumbai  FEMALE     5.6      60
5  USER 06      Madurai  FEMALE     6.2      68
6  USER 07  Kanyakumari  FEMALE     6.3      70
7  USER 08       Trichi  FEMALE     5.5      64
9  USER 10      Madurai  FEMALE     5.3      67